.bg-img{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8rELZ8-pC0-YszRKQ5prOvMu2jnDTnBnRCg&usqp=CAU");
}

.bg-img2{
  background-color: rgba(137, 43, 226, 0.132);
  border-radius: 5px;
}